%h1 Listing articles

%table
  %thead
    %tr
      %th Title
      %th Text
      %th Author email
      %th Status
      %th
      %th
      %th

  %tbody
    - @articles.each do |article|
      %tr
        %td= article.title
        %td= article.text
        %td= article.user&.email
        %td= article.status
        %td
          - if policy(article).show?
            = link_to 'Show', article
        %td
          - if policy(article).edit?
            = link_to 'Edit', edit_article_path(article)
        %td
          - if policy(article).destroy?
            = link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Article', new_article_path
