%h1= t '.title'
.alert.alert-primary
  = icon 'calendar'
  = @now

- if user_signed_in?
  %p
    Welcome
    = current_user.email
  %small= link_to 'Logout', destroy_user_session_path,
    method: :delete, class: 'btn btn-danger'
- else
  = link_to 'Sign in', new_user_session_path, class: 'btn btn-success'
  = link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path,
    class: 'btn btn-success'
  = link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path,
    class: 'btn btn-success'

